@import url(./__name/profile-info__name.css);
@import url(./__job/profile-info__job.css);
.profile-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  color: #ffffff;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  min-width: 0;
  flex-grow: 1;
}
@media screen and (max-width: 780px) {
  .profile-info {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
