@import url(./__image/element__image.css);
@import url(./__text/element__text.css);
@import url(./__title/element__title.css);
@import url(./__like/element__like.css);
.element {
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  width: 282px;
  height: 361px;
}
@media screen and (max-width: 900px) {
  .element {
    margin-bottom: 20px;
  }
  .element:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 620px) {
  .element:nth-last-child(2) {
    margin-bottom: 20px;
  }
}
