@import url(./__image/element__image.css);
@import url(./__text/element__text.css);
@import url(./__title/element__title.css);
@import url(./__like/element__like.css);
@import url(./__delete/element__delete.css);
@import url(./__like/_active/element__like_active.css);
@import url(./__placeholder/element__placeholder.css);
@import url(./__placeholder/_hidden/element__placeholder_hidden.css);
.element {
  position: relative;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  width: 282px;
  height: 361px;
  margin-bottom: 21px;
}
.element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
@media screen and (max-width: 900px) {
  .element {
    margin-bottom: 20px;
  }
  .element:nth-last-child(3) {
    margin-bottom: 20px;
  }
  .element:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 620px) {
  .element:nth-last-child(2) {
    margin-bottom: 20px;
  }
}
