.popup__title {
  margin: 34px 0 54px 36px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  height: 23px;
}
@media screen and (max-width: 555px) {
  .popup__title {
    font-size: 17px;
    height: 17px;
    text-align: center;
    margin: 32px auto;
  }
}
