.popup__text {
  width: 358px;
  height: 27px;
  margin: 0 36px 30px;
  padding: 0 0 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}
@media screen and (max-width: 555px) {
  .popup__text {
    height: 24px;
    padding-bottom: 11px;
    margin: 0 20px 20px;
    font-size: 12px;
    width: 200px;
  }
}
